:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  font-family: 'Rubik', sans-serif;
}


.small {
  font-weight: 300;
  font-style: italic;
}

body {
  background: #111 !important;
}

.navbar{
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
}

.navbar-brand{
  color: #dd2476 !important;
  font-weight: bolder;
  font-size: 30px;
}

.single-deal-card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.single-deal-card .list-group{
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.single-deal-card .list-group .list-group-item{
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
}

.view-game-btn{
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.view-game-btn:hover, .view-game-btn:focus {
  background: var(--gradient) !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

.display20-img{
  height: 125px;
}

.fa-lg {
  padding-left: 8px;
  padding-right: 8px;
}
